<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

  <script type="text/javascript">
    function copyToClipboard(querySelection){
      let text = document.querySelector(querySelection).innerHTML;
      navigator.clipboard.writeText(text)
        .then(function(){
          alert("config file content copied to your clipboard successfully.");
        }, function(){
          alert("unable to copy. try selecting the content manually, right-clicking, and pressing 'copy'. then go to your repo and change it there");
        }
      );
    }
    function editMyConfig(){
      let gh_username = window.location.hostname.split(".")[0]; // e.g. [atla5].github.io/form
      window.open(`https://github.com/${gh_username}/${gh_username}.github.io/edit/master/_config.yml`, "_target");
    }
    
    const generateConfig = (parsedData) => {
return `
# Site wide configuration

title: ${parsedData["name"]}
locale: en_US
logo: # logo.png # filename of a logo image that has been placed into your images directory

# Enter the following platform usernames if you would like for them to appear on your site.
owner:
  name: ${parsedData["name"]}
  avatar: #bio-photo.jpg
  bio: ${parsedData["bio"] || "University of Rochester affiliate"} 
  email: ${parsedData["email"]}
  twitter: ${parsedData["twitter"].replace("@","") || "#twitter username (no '@')" }
  linkedin: ${parsedData["linkedin"].replace("@","") || "#linkedin" }
  github: ${parsedData["github"]}
  orcid: ${parsedData["orcid"] || "# ID Number (ex. 0000-0000-0000-0000)" }
  researchgate: ${parsedData["researchgate"] || "#researchgate username" } 
  mendeley: ${parsedData["mendeley"] || "#mendeley username" } 
  google:
    plus: #username
    analytics:
    verify:
    scholar: ${parsedData["scholar"] || "#google scholar 'user' id" } 
  facebook: #username
  instagram: #username
  bing-verify:
  stackoverflow: #123456/username from a "https://stackoverflow.com/users/123456/username" link
  xing: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username
  flickr: #username
  codepen: #username
  disqus-shortname: #username
  resume: ${parsedData["resume"] || "#link to pdf" } 

# The following adjust the accents for your site. If you would like to further edit colors, fonts, font sizes, etc.
# you may do so in _sass/variables.scss
lowlight-color:  ${"'"+parsedData["color1"]+"'" || "'#073661' #UR navy"}
highlight-color: ${"'"+parsedData["color2"]+"'" || "'#FFC70A' #UR gold"}

# NOTE: If you would like your site to be licensed under a creative commons license, uncomment the 'yes' next to the type of license you wish to use.
creative-commons:
  cc-by: #yes
  cc-by-nc: #yes

#DO NOT EDIT BEYOND THIS POINT
# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: rouge
sass:
  sass_dir: _sass
  style: compressed
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  enable_coderay: false

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
`
  };

    function submitConfig(){
      let form = document.getElementById("config-form");
      let formData = Object.values(form).reduce((obj,field) => { obj[field.name] = field.value; return obj }, {});
      
      // get selected role from 'select#role'
      let roleSelector = document.getElementById("role");
      formData["role"] = roleSelector.options[roleSelector.selectedIndex].text;

      if(form.checkValidity()){ // if required fields are present, update the output pane
        formData["bio"] = formData["role"]+" at University of Rochester, "+formData["field"] || "University of Rochester affiliate";
        document.getElementById("config-yml").innerHTML = generateConfig(formData);
        document.getElementById("copy-btn").disabled = false;
        document.getElementById("edit-btn").disabled = false;
      }else{
        document.getElementById("copy-btn").disabled = true;
        document.getElementById("edit-btn").disabled = true;
        document.getElementById("config-yml").innerText = `Please fill in all required fields!`;
      }
    }
  </script>
  <style type="text/css">
    main { 
      display: flex; 
      flex-wrap: wrap; 
      width: 90vw;
      margin: auto;
    }
    main > section#input { 
      width: 45%; 
      margin-right:10px; 
      min-width: 350px;
      background-color: white; 
    }

    main > section#output textarea { 
      padding: 10px;
      height: 100%; height: -webkit-fill-available;
      width: 100%; width: -webkit-fill-available;
      cursor: auto;
    }
    main > section#output { 
      width: 50%; 
      min-width: 350px;
      max-height: 90vh;
      padding: 10px;
      background-color: gainsboro;
      overflow-y: scroll;
    } 
    form p {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    input, textarea, select, button {
      box-sizing: border-box;
      width: 200px;
      margin: 0;
      padding: 0;
    }
    output { max-width: 75px; }
  </style>
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div>{{content}}</div>

  <main>
    <section id="input">
      <form id="config-form" onchange="submitConfig(); event.preventDefault();">
        <h2>General Configuration Form</h2>
        <p>Input the following information and see the output on the right</p>
        <section id="info">
          <h3>Required Information</h3>
          <p>
            <label for="name">Full Name </label>
            <input id="name" name="name" type="text" placeholder="River Campus Libraries" required>
          </p>
          <p>
            <label>UR Email </label>
            <input id="email" name="email" type="email" placeholder="rclfeedback@library.rochester.edu" required>
          </p>
          <p>
            <label for="github">Github </label>
            <input id="github" name="github" type="text" placeholder="rochester-rcl" required>
          </p>
          <p>
            <label for="role">Role at UofR</label>
            <select id="role" required>
              <option>Undergraduate Student</option>
              <option>Graduate Student</option>
              <option>Researcher</option>
              <option>Faculty</option>
              <option>Staff</option>
            </select>
          </p>
          <p>
            <label for="field">Field/Department/Specialty </label>
            <input id="field" name="field" type="text" placeholder="Chemistry" required>
          </p>
        </section>
        <section id="accounts">
          <h3>Additional Links</h3>
          <p>
            <label for="website">Website </label>
            <input id="website" name="website" type="text" placeholder="https://library.rochester.edu">
          </p>
          <p>
            <label for="resume">Resume </label>
            <input id="resume" name="resume" type="text" placeholder="https://website.com/resume.pdf">
          </p>
          <p>
            <label for="orcid">Orcid </label>
            <input id="orcid" name="orcid" type="text" placeholder="0000-0001-1234-567B">
          </p>
          <p>
            <label for="scholar">Google Scholar ID </label>
            <input id="scholar" name="scholar" type="text" placeholder="rcl21UofRAAAB">
          </p>
          <p>
            <label for="twitter">Twitter @</label>
            <input id="twitter" name="twitter" type="text" placeholder="RCLibraries">
          </p>
          <p>
            <label for="linkedin">LinkedIn </label>
            <input id="linkedin" name="linkedin" type="text" placeholder="fname-lname-1234567a">
          </p>
          <p>
            <label for="mendeley">Mendeley </label>
            <input id="mendeley" name="mendeley" type="text" placeholder="">
          </p>
          <p>
            <label for="researchgate">ResearchGate </label>
            <input id="researchgate" name="researchgate" type="text" placeholder="">
          </p>
        </section>
        <section>
          <h3>Customize</h3>
          <p>
            <label for="color1">Primary Color</label>
            <input id="color1" name="color1" type="color" value="#073661">
          </p>
          <p>
            <label for="color2">Highlight Color</label>
            <input id="color2" name="color2" type="color" value="#FFC70A">
          </p>
        </section>
      </form>
      <br><br><br>
    </section>

    <section id="output">
      <h2>Output Configuration</h2>
      <div class="ctas">
        <button id="copy-btn" disabled onclick="copyToClipboard('#config-yml')">copy config</button>
        <button id="edit-btn" disabled onclick="editMyConfig()">edit my config</button>
      </div>
      <br><br>
      <p>
        A copy of the config will appear after all required fields are filled in.
        Once it appears, click on the "copy output" button to add it to your clipboard. 
        You'll then be taken to a new tab where you can paste that output and commit the change.
      </p>
      <textarea readonly id="config-yml">Please fill in all required fields!</textarea>
    </section>
  </main>
</div>


<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
